@import 'constants/index.scss';

.checkbox {
  position: relative;
}

.checkboxLabel {
  display: block;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-left: 2px;
  transition: 0.2s ease-out;

  &.focused {
    color: $primary-color;
  }
}

.checkboxHint {
  display: block;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 12px;
  margin-left: 2px;
  transition: 0.2s ease-out;
}

.checkboxOptions {
  display: flex;
  margin-left: 2px;
}
