@import 'constants/index.scss';

.popupWrapper {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: 0.2s ease-out;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-top: -8px;
  cursor: pointer;
}

.popup {
  box-sizing: border-box;
  font-size: 14px;
  background-color: transparent;

  &.popupPlaceholder {
    opacity: 0.5;
  }
}

.popupIcon {
  width: 20px;
  height: 20px;
  // background-color: #eee;
  border-radius: 8px;
}

.popupIconTicked {
  svg circle {
    fill: $primary-color;
  }

  path,
  g {
    stroke: #fff;
  }
}
