@import 'constants/index.scss';

.dropdownOption {
  padding: 8px;
  font-family: $font;
  border-bottom: 1px solid rgba($border-color, 0.4);
  &:first-child {
    padding-top: 8px;
  }

  &:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
}

.dropdownOptionText {
  font-size: 12px;
  font-weight: 400;
}
