.classNamesBlock {
  font-size: 14px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  &:global(-body-row) {
    &:last-child &:global(-column) {
      border-bottom: none;
    }
  }
  
  &:global(-header) {
    background-color: #F5F5F5;
    &:global(-title) {
      color: #666;
      font-weight: 500;
    }
  }
}
