@import 'constants/index.scss';

.chips {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 4px;
  padding-right: 8px;
  min-height: 35px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease-out;
  
  &.error {
    border-color: $warning-color;
    background-color: rgba($warning-color, 0.05);
  }
}

.chipsTrack {
  margin-bottom: -6px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.chip {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #DDD;
  background-color: #F2F2F2;
  color: #333333;
  border-radius: 8px;
  padding: 2px 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  svg {
    circle {
      transition: 0.2s ease-out;
    }
  }

  &:hover {
    background-color: rgba(#eeeeef, 0.2);
  }
}

.deleteChipIcon {
  margin-left: 6px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.newChip {
  margin-right: 6px;
  margin-bottom: 6px;
  border: none;
  padding: 4px 8px;
  padding-left: 0;
  line-height: 14px;
  outline: none;
  min-width: 80px;
  font-size: 12px;

  &:focus {
    border: none;
  }

  &::placeholder {
    color: #AAA;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
