@import 'constants/index.scss';

.inputWrapper {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 8px;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s ease-out;
  background: #FFF;

  &.error {
    border-color: $warning-color;
    background-color: rgba($warning-color, 0.05);
  }
  
  &.disabled {
    background-color: #EEE;
  }

  .input {
    width: 100%;
  }

  input {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 4px 0;
    width: 100%;
    line-height: 1.9;
    background-color: transparent;
    &::placeholder {
      color: #000;
      opacity: 0.3;
    }
    &.error {
      border-color: #F44336;
      background-color: rgba(244, 67, 54, 0);
    }
  }
}
