@import 'constants/index.scss';

.dropdown {
  position: relative;
  margin-bottom: 24px;
}

.dropdownLabel {
  display: block;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-left: 2px;
  transition: 0.2s ease-out;

  &.focused {
    color: $primary-color;
  }

  &.error {
    color: $warning-color;
  }
}

.dropdownInputWrapper {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 4px 8px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease-out;
  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.focused {
    border-color: $primary-color;
  }

  &.error {
    border-color: $warning-color;
    background-color: rgba($warning-color, 0.05);
  }

  &.reverse {
    &.active {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  input {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 4px 0;
    width: 100%;
    line-height: 1.9;
    &::placeholder {
      color: #000;
      opacity: 0.3;
    }
  }
}

.textHint {
  display: block;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-left: 2px;
  margin-top: -6px;
  transition: 0.2s ease-out;
}


.dropdownInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  span {
    opacity: 0.3;
  }
}

.dropdownInputClear {
  font-size: 10px;
  margin-right: 8px;
  width: auto;
  height: auto;
  font-weight: 1000;

  &:hover {
    opacity: 1;
  }
}

.dropdownInputZeroState {
  font-family: 'Roboto';
  display: block;
  padding: 8px;
  font-size: 14px;
  opacity: 0.4;
}

.dropdownInputSubtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4px;
  font-size: 12px;

  position: absolute;
  bottom: 0;
  transform: translate3d(0,100%,0);
  padding-top: 4px;
}

.dropdownInputSubtextError {
  color: #ff0c0c;
  opacity: 0.8;
}
