@import 'constants/index.scss';

.withTooltip {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  min-width: 32px;
  background-color: #28394B;
  color: #F5F5F5;
  text-align: left;
}

.withTooltipTooltip {
  pointer-events: none;
}
