@import 'constants/index.scss';

.withTooltip {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  min-width: 32px;
  background-color: #FFF;
  color: #333;
  white-space: nowrap;
  text-align: center;

}

.withTooltipTooltip {
  pointer-events: none;
}
