@import 'constants/index.scss';

.headerProfile {
  margin-left: auto;
  margin-right: 0;
  padding: 16px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  border-left: 1px solid #EEE;
}

.headerProfileFeedbackButton {
  margin-right: 16px;
}

.headerProfileFeedbackIcon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.headerProfileIcon {
  width: 28px;
  height: 28px;
  border-radius: 24px;
  margin-right: 16px;
  cursor: pointer;
  > div {
    width: 100%;
    height: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
    * {
      fill: #222;
    }
  }
}

.headerProfileText {
  font-weight: 600;
  font-size: 18px;
}
