@import 'constants/index.scss';

.headerLogo {
  padding: 16px;
  display: flex;
  align-items: center;
}

.headerLogoIcon {
  width: 36px;
  height: 36px;
  border-radius: 24px;
  margin-right: 12px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.headerLogoText {
  font-weight: 500;
  font-size: 18px;
}