@import "constants/index.scss";

.date {
  position: relative;
  &Time {
    > div {
      border-radius: 0;
      padding: 12px 14px;
      padding-right: 16px;
    }
    .TimePickerInput__timePickerInput___qghY7 {
      flex: 1;
    }
  }
}

.dateLabel {
  display: block;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-left: 2px;
  transition: 0.2s ease-out;

  &.focused {
    color: $primary-color;
  }
}

.dateInputWrapper {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 4px 8px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease-out;

  &.focused {
    border-color: $primary-color;
  }

  &.disabled {
    pointer-events: none;
    background-color: #eee;
  }
}

.dateInput {
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  span {
    opacity: 0.3;
  }
}

.dateError {
  .dateLabel {
    color: $warning-color;
  }
  .dateInputWrapper {
    border-color: $warning-color;
    background-color: rgba($warning-color, 0.05);
  }
}

.dateInputSubtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4px;
  font-size: 12px;

  position: absolute;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  padding-top: 4px;
}

.dateInputSubtextError {
  color: #ff0c0c;
  opacity: 0.8;
}

.datePickrInput {
  position: absolute;
  left: 0;
  bottom: 0;
}

.dateInputZeroState {
  font-family: "Roboto";
  display: block;
  padding: 16px;
  font-size: 14px;
  opacity: 0.4;
}
