@import 'constants/index.scss';

.accordionItem {
  position: relative;
  border-top: 1px solid $border-color;
  overflow: hidden;
  transition: height 0.2s ease-out, transform 0.1s ease-out,
    background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  background-color: #fff;
  z-index: $z-index + 1;
  border-bottom: 1px solid $border-color;
  margin-top: -1px;
  * {
    font-family: $font;
  }
}

.accordionItemHeader {
  position: relative;
  padding: 0;
  cursor: pointer;
}

.leftColumn,
.rightColumn {
  display: flex;
  align-items: center;
}

.rightColumn {
  margin-left: auto;
  margin-right: 0;
}

.icon {
  margin-right: 8px;
  transition: 0.2s ease-out;
  &.arrowIcon {
    transform: rotate(0deg);
    width: 24px;
    min-width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -12px;
  }
  &.active {
    transform: rotate(180deg);
  }
  svg path {
    transition: 0.2s ease-out;
  }
}

.reorderIcon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.iconStarred {
  path {
    fill: #ffdf9b;
    stroke: #f9ba31;
  }
}

.accordionItemBody {
  padding: 0;

  > div {
  }

  :global {
    .animating-enter {
      opacity: 0;
      &-active {
        opacity: 1;
        transition: 0.2s ease-out;
      }
      &-done {
        opacity: 1;
      }
    }

    .animating-exit {
      opacity: 1;
      &-active {
        opacity: 0;
        transition: 0.2s ease-out;
      }
    }
  }

  .accordionItemBodyInner {
    // animation: show-in-opacity 0.2s ease-out both;
  }

  @keyframes show-in-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

:global {
  .sortableElement {
    transition: none;
    box-shadow: 0 10px 30px rgba(1, 1, 1, 0.1);
  }
}
