@import 'constants/index.scss';

.searchWrapper {
  position: relative;
  z-index: $z-index + 3;
}

.search {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 100px;
  overflow: hidden;
  background-color: #fff;
  transition: 0.2s ease-out;
  display: flex;
  align-items: center;
  &.active {
    border-color: $primary-color;
    &.withDropdown {
      border-color: transparent;
      background-color: transparent;
    }
    // box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    .searchIcon {
      :global(#search) {
        stroke: $primary-color;
      }
    }
  }
}

.searchIcon {
  pointer-events: none;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);  
  :global(#search) {
    transition: 0.2s ease-out;
  }
}

.searchInput {
  border: none;
  outline: none;
  flex:1;
  box-sizing: border-box;
  resize: none;
  background-color: transparent;
  box-shadow: none;
  padding: 6px 10px;
  padding-left: 32px;
  display: inline;
  .hint{
    text-align: right;
  }
}

.hint{
  color: #AAA;
  font-size: 10px;
  font-weight: 300;
  padding: 6px;
  padding-right: 12px;
  user-select: none;
  pointer-events: none;
}

