@import 'constants/index.scss';

.headerButtons {
  margin-left: auto;
  margin-right: 0;
  padding: 24px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  > button {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}