@import 'constants/index.scss';

.slider {
  position: relative;
  margin-bottom: 18px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  outline: none;
}

.sliderLabel {
  margin-right: 16px;
  margin-bottom: 0;

  &.focused {
    color: $primary-color;
  }
}

.textHint {
  display: block;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-left: 2px;
  margin-top: -6px;
  transition: 0.2s ease-out;
}

.sliderInput {
  position: relative;
  flex: 1;
  // margin-bottom: 36px;
  margin-left: 2px;
}

.sliderTrack {
  position: relative;
  width: calc( 100% - 10px );
  height: 4px;
  border-radius: 8px;
  background-color: #EEE;
}

.sliderFilled {
  position: absolute;
  width: 40%;
  height: 100%;
  border-radius: 8px;
  background-color: $primary-color;
  // transition: 0.1s ease-out;
}


.sliderTextInputs {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin-right: -8px;
  margin-top: 8px;
}
