@import 'constants/index.scss';

.progressBar {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  height: 8px;
  background-color: #000;
  opacity: 0;
  transition: 0.2s ease-out;
  &.active {
    opacity: 1;
    transform: translateY(-100%);
  }
}

.progressBarInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $primary-color;
  transition: 0.1s ease-out;
}
