@import 'constants/index.scss';
$GRID_WIDTH: 32px;
$GRID_HEIGHT: 28px;

:global {
  .date-picker-tooltip {
    max-width: unset !important;
  }
}

.rangePicker {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 8px;
  min-width: 500px;
  min-height: 240px;
  display: flex;
  align-items: flex-start;
  color: #333;

  &CalendarColumn {
    position: relative;
    display: flex;
    padding: 12px;
    border-right: 1px solid #eee;
    background-color: #f4f4f4;

    .navigationIcon {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 32px;
      height: 32px;
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 2px 4px rgba(#000, 0.08);
      border: 1px solid #ddd;
      cursor: pointer;
      transition: 0.2s ease-out;
      transform: rotate(90deg);
      padding: 6px;
      box-sizing: border-box;

      &:hover {
        transform: translateY(-5%) rotate(90deg);
        box-shadow: 0 2px 9px rgba(#000, 0.08);
      }

      &.right {
        left: auto;
        right: 8px;
        transform: rotate(-90deg);
        &:hover {
          transform: translateY(-5%) rotate(-90deg);
        }
      }
    }
  }

  &InputColumn {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;

    &Label {
      font-size: 14px;
      margin-bottom: 2px;
    }

    &Hint {
      font-size: 10px;
      color: #999;
      margin-bottom: 14px;
    }
  }

  &Inputs {
    display: flex;
    margin-bottom: 24px;
    animation: show-in 0.2s ease-out both;
    animation-delay: 0.05s;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &Buttons {
    display: flex;
    margin-bottom: 12px;
    animation: show-in 0.2s ease-out both;
    .rangePickerButton {
      margin-right: 8px;
      font-size: 10px;
      &:last-child {
        margin-right: 0;
      }

      &.compare {
        background-color: $yellow-color;
        border-color: $yellow-color;
      }
    }
  }

  &Input {
    position: relative;
    margin-bottom: 0px;
    margin-right: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 140px;
    input {
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      padding: 4px;
      font-size: 11px;
      padding-left: 42px;
      box-sizing: border-box;
      min-width: 0;
      cursor: pointer;
    }

    &Label {
      position: absolute;
      font-size: 10px;
      color: #999;
      top: 52%;
      left: 6px;
      transform: translateY(-50%);
      text-transform: uppercase;
    }

    &.endInput {
      input {
        padding-left: 31px;
      }
    }

    &.focused {
      border: 1px solid $primary-color;
    }

    &.compare.focused {
      border-color: $yellow-color;
    }
  }

  &Checkbox {
    font-size: 12px;
    margin-bottom: 12px;
    margin-left: 1px;
    &:global(-text) {
      font-size: 12px;
      &:global(.selected) {
        color: $yellow-color;
      }
    }
    &:global(-box) {
      width: 12px;
      height: 12px;
      margin-right: 4px;
      &:global(.selected) {
        background-color: $yellow-color;
        border-color: $yellow-color;
      }
    }

  }
}

.rangePickerCalendar {
  @mixin center {
    display: flex;
    align-items: center;
  }

  @mixin box {
    width: $GRID_WIDTH;
    min-width: $GRID_WIDTH;
    max-width: $GRID_WIDTH;
    height: $GRID_HEIGHT;
    min-height: $GRID_HEIGHT;
    box-sizing: border-box;
  }

  color: #333;
  max-width: $GRID_WIDTH * 7;
  border: 1px solid #eee;
  margin-right: 8px;
  background-color: #fff;

  &:last-of-type {
    margin-right: 0;
  }

  &Header {
    @include center;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
  }

  &Labels {
    @include center;
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  &Label {
    @include center;
    @include box;
    height: auto;
    min-height: 0;
    font-size: 12px;
    color: #999;
  }

  &Grid {
    &Row {
      @include center;
      &:last-child {
        border-bottom: none;
        .rangePickerCalendarGridItem {
          border-bottom: none;
        }
      }
      &Item {
        @include box;
        @include center;
        justify-content: center;
        padding: 8px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        &.disabled {
          pointer-events: none;
        }
        &.disabled > * {
          opacity: 0.1;
        }
        &.invisible {
          pointer-events: none;
        }
        &.invisible > * {
          opacity: 0.1;
        }
        &:last-child {
          border-right: none;
        }
        &:hover {
          background-color: #f5f5f5;
        }

        &.selected {
          background-color: rgba($primary-color, 0.3);
          border-color: $primary-color;
          border-bottom: 1px solid $primary-color !important;
          border-left-style: solid;
          border-right-style: solid;
          border-left-width: 0;
          border-right-width: 0;
        }

        &.comparisonSelected {
          background-color: rgba($yellow-color, 0.3);
          border-color: $yellow-color;
          border-bottom: 1px solid $yellow-color !important;
          border-left-style: solid;
          border-right-style: solid;
          border-left-width: 0;
          border-right-width: 0;
          &.selected {
            background-color: rgba($red-color, 0.3);
            border-color: $red-color;
            border-bottom: 1px solid $red-color !important;
          }
        }
      }
      &ItemText {
        font-size: 12px;
      }
    }
  }
}

@keyframes show-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
