@import "constants/index.scss";

.dropdownOption {
  padding: 8px;
  font-family: $font;
  border-bottom: 1px solid rgba($border-color, 0.4);
  &:first-child {
    padding-top: 8px;
  }

  &:hover {
    background-color: #fafafa;
    cursor: pointer;
  }

  &.zeroState {
    opacity: 0.5;
    background-color: transparent !important;
    span {
      color: #000 !important;
    }
  }

  &.isNew {
    span {
      font-style: italic;
    }
  }
}

.dropdownOptionText {
  font-size: 12px;
  font-weight: 400;
}
