@import 'constants/index.scss';

:global {
  .date-picker-tooltip {
    > div:nth-child(2) {
      > div:nth-child(2) {
        max-width: unset !important;
      }
    }
  }
}

.rangePicker {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 8px;
  min-width: 500px;
  min-height: 240px;
  display: flex;
  align-items: flex-start;
  color: #333;
}

@keyframes show-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
