@import 'constants/index.scss';

.inputs {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  padding-top: 0;

  &Label {
    font-size: 14px;
    margin-bottom: 2px;
  }

  &Hint {
    font-size: 10px;
    color: #999;
    margin-bottom: 14px;
  }
  
  &Items {
    display: flex;
    margin-bottom: 24px;
    animation: show-in 0.2s ease-out both;
    animation-delay: 0.05s;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  &Buttons {
    display: flex;
    margin-bottom: 12px;
    animation: show-in 0.2s ease-out both;
    .inputsButton {
      margin-right: 8px;
      font-size: 10px;
      &:last-child {
        margin-right: 0;
      }
  
      &.compare {
        background-color: $yellow-color;
        border-color: $yellow-color;
      }
    }
  }

  &Checkbox {
    font-size: 12px;
    margin-bottom: 12px;
    margin-left: 1px;
    &:global(-text) {
      font-size: 12px;
      &:global(.selected) {
        color: $yellow-color;
      }
    }
    &:global(-box) {
      width: 12px;
      height: 12px;
      margin-right: 4px;
      &:global(.selected) {
        background-color: $yellow-color;
        border-color: $yellow-color;
      }
    }

  }
}

